:root {
	--error: rgba(198, 46, 101, 1);
	--black: rgba(21, 22, 40, 1);
	--grey: rgba(49, 51, 94, 1);
	--primary: rgba(85, 151, 221, 1);
	--light: rgba(204, 223, 245, 1);
	--white: rgba(242, 245, 255, 1);
}
