#offers {
	background: url('https://res.cloudinary.com/fichua-store/image/upload/v1657335244/offer_onntva.jpg')
		center/cover no-repeat;
}
#offers .row {
	min-height: 60vh;
}

#carousel {
	.item {
		overflow: hidden;
	}
}
